---
import {
  IconBellRinging2,
  IconHome2,
  IconUser,
  IconUserSearch,
} from "@tabler/icons-react";
---

<aside class="aside">
  <div
    class="aspect-square rounded-full outline outline-black/50 w-[95px] h-[95px]"
  >
  </div>
  <ul class="aside__ul">
    <li
      class="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
    >
      <IconUserSearch /> Buscar
    </li>
    <li
      class="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
    >
      <IconBellRinging2 /> Notificaciones
    </li>
    <li
      class="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
    >
      <IconUser /> Perfil
    </li>
    <li
      class="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
    >
      <IconHome2 /> Inicio
    </li>
  </ul>
</aside>
