---
import RootLayout from "~/layouts/RootLayout.astro";
import { getSessionValue } from "~/scripts/session";
const id = getSessionValue(Astro);
if (!id) return Astro.redirect("/login");

import Feed from "~/components/ui/feed";
---

<RootLayout withAside>
  <section class="min-h-screen relative">
    <Feed origin={Astro.url.origin} adminId={id} client:only="react" />
  </section>
</RootLayout>
