---
import RootLayout from "~/layouts/RootLayout.astro";
import { getSessionValue } from "~/scripts/session";
const id = getSessionValue(Astro);
if (!id) return Astro.redirect("/login");

import CreatePostForm from "~/components/client/create-post-form";
import Feed from "~/components/client/feed";
import SubmitBtn from "~/components/submit-btn.astro";
---

<RootLayout withAside>
  <section class="home">
    <header>
      <CreatePostForm origin={Astro.url.origin} client:load transition:persist>
        <SubmitBtn
          hoverTitle="Comparte lo que sientes"
          loadingText="Publicando...">Publicar</SubmitBtn
        >
      </CreatePostForm>
    </header>

    <div class="home__container--posts">
      <Feed
        origin={Astro.url.origin}
        adminId={id}
        client:load
        transition:persist
      />
    </div>
  </section>
</RootLayout>

<style>
  .home {
    min-height: 100dvh;
    display: flex;
    flex-flow: column;
  }
  .home__container--posts {
    display: flex;
    flex-flow: column;
    border: 1px solid rgba(33, 33, 33, 0.6);
    flex: 1;
  }
</style>
