---
import SubmitBtn from "~/components/submit-btn.astro";
import RootLayout from "~/layouts/RootLayout.astro";
import { getSessionValue } from "~/scripts/session";
const id = getSessionValue(Astro)
if (!id) return Astro.redirect("/login");

import CreatePostForm from "~/components/client/create-post-form"

---

<RootLayout>
	<section class="home" >
		
		<header>
			

			<CreatePostForm origin={Astro.url.origin} client:load transition:persist />
		</header>
	</section>
</RootLayout>
