---
import OAuthBtn from "~/components/oAuth-btn.astro";
import SubmitBtn from "~/components/submit-btn.astro";
import RootLayout from "~/layouts/RootLayout.astro";
import ApiServices from "~/services/api";
const { signIn } = new ApiServices(Astro.url.origin);

let errors = null;
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const { ok, response } = await signIn(formData);

  if (ok) {
    Astro.cookies.set("session", response.insertedId, {});
    return Astro.redirect("/admin/profile/edit");
  }

  errors = response;
  console.log({ errors });
}
---

<RootLayout
  title="Crea una cuenta en Livio - ¡Descubre lo que el mundo piensa!"
>
  <section class="sign">
    <div class="sign__container">
      <h1 class="sign__title">Crear una cuenta</h1>
      <h2 class="sign__subtitle">Ingresa tu email debajo</h2>
      <form method="post" class="sign__form">
        <label class="sign__form__label--email" for="email">
          Email <input
            type="email"
            name="email"
            id="email"
            placeholder="ejemplo@dominio.com"
            autofocus
            autocomplete="email"
            required
          />
        </label>

        <label class="sign__form__label--password" for="password">
          Contraseña
          <input type="password" name="password" id="password" required />
        </label>

        <label for="username" class="sign__form__label--name">
          Nombre
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Jhon"
            required
          />
        </label>

        <label for="username" class="sign__form__label--username">
          Nombre de usuario
          <input
            type="text"
            name="username"
            id="username"
            placeholder="ejemplo99"
            maxlength="13"
            required
          />
        </label>

        <SubmitBtn> Crear cuenta con Email </SubmitBtn>
      </form>

      <div id="separator">
        <span></span>
        <span>O CONTINUAR CON</span>
      </div>

      <div class="sign__container--o-auth-btn">
        <!-- BOTONES DE CADA PROVEEDOR OAUTH DISPONIBLE -->
        <OAuthBtn provider="GITHUB" />
        <OAuthBtn provider="INSTAGRAM" />
      </div>

      <small>
        ¿Ya tienes una cuenta? <a
          href="/login"
          style="color: rgba(33,33,33,.8);">Inicia sesión</a
        >
      </small>
    </div>
  </section>
</RootLayout>
<style>
  .sign {
    min-height: 100dvh;
    display: grid;
    place-items: center;
  }
  .sign__container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    /* títulos */
    .sign__title {
      font-size: 1.8em;
    }
    .sign__subtitle {
      font-size: 1.1em;
      color: rgba(0, 0, 0, 0.4);
      text-align: center;
    }

    /* formulario */
    .sign__form {
      font-size: larger;
      max-width: 300px;
      width: 100%;
      display: flex;
      flex-flow: column;
      margin: 10px auto;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 5px 10px rgba(22, 22, 22, 0.5);
    }
    .sign__form > label {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      & > input {
        padding: 6px;
      }
    }

    /* separador */
    #separator {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & > span:nth-child(1) {
        position: absolute;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        z-index: 0;
      }
      & > span:nth-child(2) {
        z-index: 1;
        background-color: rgb(260, 260, 260);
        border-radius: 3px;
      }
    }

    /* botones OAuth */
    .sign__container--o-auth-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 10px 0;
    }
  }
</style>
