---
interface Props {
  hoverTitle: string;
  href: string;
  styles?: string;
  prefetch?: boolean;
}

const { hoverTitle, href, styles, prefetch } = Astro.props;
---

<a
  href={href}
  title={hoverTitle}
  class={styles}
  data-astro-prefetch={prefetch ? true : false}
>
  <slot name="icon" />
  <slot name="text" />
  <slot />
</a>
