---
import {
  IconBellRinging2,
  IconHome2,
  IconUser,
  IconUserSearch,
} from "@tabler/icons-react";
import Anchor from "./ui/anchor-aside";
import Avatar from "./ui/avatar";
import ApiServices from "~/services/api";
import { getSessionValue } from "~/scripts/session";

const id = getSessionValue(Astro);
const { getUserById } = new ApiServices(Astro.url.origin);

const { response: user } = await getUserById(id ?? "");
---

<aside
  class="fixed w-full md:w-fit md:relative bottom-0 md:top-0 flex flex-row md:flex-col items-center backdrop-blur gap-[16px] py-[10px] px-[4px]"
  style=`display: ${id ? "flex" : "none"};`
>
  <Anchor
    href=`/${user.username}`
    hoverTitle="Ir a tu perfil"
    styles="hidden md:flex"
  >
    <Avatar avatar={user?.avatar} name={user?.name} size={90} withLetter />
  </Anchor>

  <ul
    class="flex flex-row-reverse justify-center md:justify-self-start w-full md:flex-col"
  >
    <li>
      <Anchor
        href="/search"
        hoverTitle="¡Busca a una persona!"
        styles="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
        client:visible
      >
        <IconUserSearch />
        <span class="hidden md:block">Buscar</span>
      </Anchor>
    </li>
    <li>
      <Anchor
        href="/admin/notifications"
        hoverTitle="Mira tus notificaciones"
        styles="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
        client:visible
      >
        <IconBellRinging2 />
        <span class="hidden md:block">Notificaciones</span>
      </Anchor>
    </li>
    <li>
      <Anchor
        href=`/${user.username}`
        hoverTitle="Ir a tu perfil"
        styles="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
        client:visible
      >
        <IconUser />
        <span class="hidden md:block">Perfil</span>
      </Anchor>
    </li>
    <li>
      <Anchor
        href="/"
        hoverTitle="¡Ir al muro!"
        styles="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
        client:visible
      >
        <IconHome2 />
        <span class="hidden md:block">Inicio</span>
      </Anchor>
    </li>
  </ul>
</aside>
