---
import {
  IconBellRinging2,
  IconHome2,
  IconLogout,
  IconUser,
  IconUserSearch,
} from "@tabler/icons-react";
import Anchor from "./ui/anchor-aside";
import { getSessionValue } from "~/scripts/session";
import AsideAvatar from "./aside-avatar.astro";
import AsideAnchor from "./aside-anchor.astro";

const id = getSessionValue(Astro);
---

<aside
  class="sticky w-fit top-0 flex flex-col items-center backdrop-blur gap-[16px] py-[10px] px-[4px]"
  style=`display: ${id ? "flex" : "none"};`
>
  <AsideAvatar server:defer>
    <img
      src=""
      class="w-[90px] h-[90px] rounded-full bg-gray-300 animate-pulse"
      slot="fallback"
    />
  </AsideAvatar>
  <ul
    class="flex flex-row-reverse justify-center md:justify-self-start w-full md:flex-col"
  >
    <li>
      <Anchor
        href="/search"
        hoverTitle="¡Busca a una persona!"
        styles="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
        client:visible
      >
        <IconUserSearch />
        <span class="hidden md:block">Buscar</span>
      </Anchor>
    </li>
    <li>
      <Anchor
        href="/admin/notifications"
        hoverTitle="Mira tus notificaciones"
        styles="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
        client:visible
      >
        <IconBellRinging2 />
        <span class="hidden md:block">Notificaciones</span>
      </Anchor>
    </li>
    <li>
      <AsideAnchor server:defer>
        <a
          href="#"
          class="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
          slot="fallback"
        >
          <IconUser />
          <span class="hidden md:block">Perfil</span>
        </a>
      </AsideAnchor>
    </li>
    <li>
      <Anchor
        href="/"
        hoverTitle="¡Ir al muro!"
        styles="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex items-center gap-1"
        client:visible
      >
        <IconHome2 />
        <span class="hidden md:block">Inicio</span>
      </Anchor>
    </li>
  </ul>

  <div>
    <Anchor
      href="/logout"
      hoverTitle="¡Cerrar sesión!"
      styles="px-5 py-3 rounded-lg transition-colors hover:bg-[rgba(134,290,110,.8)] flex flex-row items-center gap-1"
    >
      <IconLogout /> Cerrar sesión
    </Anchor>
  </div>
</aside>
