---
import { IconArrowBackUp } from "@tabler/icons-react";
---

<button
  title="Ir hacia atrás"
  id="back-btn"
  transition:name=`back-btn-${crypto.randomUUID()}`
>
  <IconArrowBackUp />
</button>

<script>
  document.addEventListener("astro:page-load", () => {
    const $backBtn = document.querySelector("#back-btn") as HTMLButtonElement;
    $backBtn?.addEventListener("click", () => {
      window.history.back();
    });
  });
</script>
<style>
  button {
    width: fit-content;
    display: flex;
    padding: 3px;
    border-radius: 100%;
    border: 1px solid rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    transition: box-shadow 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      box-shadow: 0 2px 3px rgb(44, 44, 44);
    }
  }
</style>
