---
import { IconArrowBackUp } from "@tabler/icons-react";

const referer = Astro.request.headers.get("referer");

// const path = new URL(referer ?? '').pathname
---

<a href={"path"} title="Ir hacia atrás">
  <IconArrowBackUp />
</a>

<style>
  a {
    width: fit-content;
    display: flex;
    padding: 3px;
    border-radius: 100%;
    border: 1px solid rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    transition: box-shadow 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      box-shadow: 0 2px 3px rgb(44, 44, 44);
    }
  }
</style>
