---
import { IconRotate } from "@tabler/icons-react";

interface Props {
  styles?: string;
}
const { styles } = Astro.props;
---

<button type="submit" class="submit-btn" style={styles}>
  <slot />
  <IconRotate className="submit-btn__icon" />
</button>

<script>
  const $submitBtn = document.querySelector(".submit-btn") as HTMLButtonElement;

  if ($submitBtn) {
    const form = $submitBtn.form;
    const icon = $submitBtn.childNodes[1] as HTMLElement;

    form?.addEventListener("submit", () => {
      $submitBtn.style.pointerEvents = "none";
      $submitBtn.style.transform = "scale(.98)";
      icon.style.display = "flex";
    });

  }
</script>
<style>
  .submit-btn {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 16px;
    background-color: var(--color_p);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition:
      transform 0.2s cubic-bezier(1, 0, 0, 1),
      box-shadow 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);

    &:hover {
      transform: scale(0.99);
      box-shadow: 0 6px 8px var(--color_shadow);
    }

    .submit-btn__icon {
      display: none;
      width: 20px;
      height: auto;
      animation: rotate 1s 1s infinite;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
</style>
