---
import { ClientRouter } from "astro:transitions";
import Aside from "~/components/aside.astro";
import AsidePlaceholder from "~/components/placeholders/aside-placeholder.astro";

interface Props {
  title?: string;
  withAside?: boolean;
  faviconHref?: string | null;
}

const { title, withAside, faviconHref = null } = Astro.props;

const defaultTitle = "Livio - ¡comparte y conecta!";
const defaultFavicon = "/favicon.png";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href={faviconHref ?? defaultFavicon} />

    <ClientRouter fallback="none" />
    <title>{title ? title : defaultTitle}</title>
    <style>
      /* FUENTE PRIMARIA */
      @font-face {
        font-family: "Primary";
        src: url("/font/font.ttf");
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>

  <body>
    <main
      class="flex justify-center relative w-full h-screen mx-auto max-w-[900px] overflow-auto scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100"
    >
      <slot />
      {
        withAside && (
          <Aside transition:persist>
            <AsidePlaceholder slot="fallback" />
          </Aside>
        )
      }
    </main>
  </body>
</html>

<style is:global>
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --color_p: rgba(134, 290, 110, 0.8);
    --color_shadow: rgba(134, 290, 110, 0.5);
  }
  body {
    font-family: "Primary", "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  main {
    scrollbar-width: thin;
    scrollbar-color: #000 var(--color_shadow);
    padding: 0 3rem;
  }
</style>
