---
interface Props {
  title?: string;
}

const {title} = Astro.props;

const defaultTitle = 'Livio - ¡comparte y conecta!'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <title>{title ? title : defaultTitle}</title>

    <style>
      /* FUENTE PRIMARIA */
      @font-face {
        font-family: 'Primary';
        src: url("/font/font.ttf");
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --color_p: rgba(134, 290, 110, 0.8);
    --color_shadow: rgba(134, 290, 110, 0.4);
  }
  body {
    font-family: "Primary", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
</style>
