---
import { ViewTransitions } from "astro:transitions";
import Aside from "~/components/aside.astro";

interface Props {
  title?: string;
  withAside?: boolean;
}

const { title, withAside } = Astro.props;

const defaultTitle = "Livio - ¡comparte y conecta!";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <title>{title ? title : defaultTitle}</title>
    <style>
      /* FUENTE PRIMARIA */
      @font-face {
        font-family: "Primary";
        src: url("/font/font.ttf");
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <main>
        <slot />
      </main>

      {withAside && <Aside />}
    </div>
  </body>
</html>

<style is:global>
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --color_p: rgba(134, 290, 110, 0.8);
    --color_shadow: rgba(134, 290, 110, 0.5);
  }
  body {
    font-family: "Primary", "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .container {
    max-width: 700px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    gap: 16px;
    & > main {
      flex: 1;
      max-width: 500px;
      margin: 0 auto;
    }
    & > .aside {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 16px;
      padding: 10px 4px;
    }
  }
</style>
