---
import { ClientRouter } from "astro:transitions";
import Aside from "~/components/aside.astro";
import AsidePlaceholder from "~/components/placeholders/aside-placeholder.astro";

interface Props {
  title?: string;
  withAside?: boolean;
  faviconHref?: string | null;
}

const { title, withAside, faviconHref = null } = Astro.props;

const defaultTitle = "Livio - ¡comparte y conecta!";
const defaultFavicon = "/favicon.png";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href={faviconHref ?? defaultFavicon} />

    <ClientRouter fallback="none" />
    <title>{title ? title : defaultTitle}</title>
    <style>
      /* FUENTE PRIMARIA */
      @font-face {
        font-family: "Primary";
        src: url("/font/font.ttf");
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>

  <body>
    <div
      class="relative max-w-[700px] w-full h-screen mx-auto flex md:flex-row flex-col gap-[16px]"
    >
      <main class="flex flex-1 max-w-[530px] w-full mx-auto">
        <slot />
      </main>
      {
        withAside && (
          <Aside server:defer transition:persist>
            <AsidePlaceholder slot="fallback" />
          </Aside>
        )
      }
    </div>
  </body>
</html>

<style is:global>
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --color_p: rgba(134, 290, 110, 0.8);
    --color_shadow: rgba(134, 290, 110, 0.5);
  }
  body {
    font-family: "Primary", "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
</style>
